<!-- Here we want to list all the conversations of the person if he is connected -->
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <nav class="panel">
                    <p class="panel-heading">
                        Conversations
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search conversation">
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>

                    <a class="panel-block">
                        <span class="panel-icon">
                          <i class="fas fa-envelope"></i>
                      </span>
                        marksheet
                    </a>

                </nav>
            </div>
        </div>
    </div>
</section>