<!-- Here we want to list all the conversations of the person if he is connected -->
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <nav class="panel is-centered" id="panelConversations">
                    <p class="panel-heading">
                        Conversations
                    </p>

                    <% // Check if the user is logged to display his conversations
                    if(!(!session.username)) { %>

                    <div class="panel-block" id="newConversation">
                        <p class="control" style="width: 33%">
                            <input id="conversationName" class="input" type="text" placeholder="Name">
                        </p>
                        <p class="control">
                            <input id="conversationFriends" class="input" type="text" placeholder="Friends (separated by a comma)">
                        </p>
                        <a onclick="createNewConversation()" id="addFriend" class="button is-secondary" style="float: right;">
                            <span class="icon"><i class="fas fa-comments"></i></span>
                            <span>Create conversation</span>
                        </a>
                    </div>

                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search conversation">
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>

                    <% } %>


                    <% // Check if the user is logged to display his conversations
                    if((!session.username)) { %>
                        You do not have any conversations because you are not logged in.
                    <% } %>
                </nav>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script>
    const userid = "<%=session.userid%>";

    function createNewConversation() {

        // Get the conversation name
        let conversationName = $('#conversationName').val();

        // If the name of the conversation is null we set a default name
        if (conversationName === "") {
            conversationName = "My conversation";
        }

        // The friends
        let conversationFriends = $('#conversationFriends').val();

        // If there is no friends we abort
        if (conversationFriends === "") {
            return;
        }

        $.post('/api/createconversation', {leaderId: userid, users: conversationFriends, name: conversationName}, function (data) {

            // We redirect the user to the conversation he has created
            window.location.replace("/conversation/" + data._id);

        });

    }

    let tbody = $("#tbody");

    // If the user id exists that means the player is logged and we can populate the table
    if (userid !== "") {
        $.getJSON('/api/conversations/' + userid, function(data) {

            var container = $("#panelConversations");
            var values = "";

            data.forEach(function (d) {
                values += `<a class="panel-block" href="/conversation/${d._id}"><span class="panel-icon"><i class="fas fa-envelope"></i></span>${d.name}</a>`;
            })

            $(container).append(values);
        });
    }

</script>