<section class="section">
    <div class="container">
        <div class="notification">
            Username : <%= user.username %> <br>
            Email : <%= user.email %> <br>
            Total conversations : <%= infos.nbConversations %> <br>
            Total messages sent : <%= infos.countMessages %> <br>
        </div>
    </div>
</section>