<section class="section">
    <div class="container">
        <div class="notification">
            Username : <%= user.username %> <br>
            Email : <%= user.email %> <br>
            Token : <%= user.token %> <br>
        </div>
    </div>
</section>